.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}



h1{
  margin-top: 0px;
}

.row {
  background-color: gray;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}
.column {
  flex: 1;
}

.img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.stars{
  background-color: white;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5%;
  margin-left: 5px;
  margin-right: 5px;
}

.issues{
  background-color: white;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5%;
  margin-left: 5px;
  margin-right: 5px;
}

.yellow{
  color: #b08f26;
}